@page "/MiniBot"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject MiniBotApiClient MiniBotApi

<PageTitle>Responce</PageTitle>

<h1>Responce</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (responces == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Responce</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var responce in responces)
            {
                <tr>
                    <td>@responce.answer</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ResponceRecord[]? responces;

    protected override async Task OnInitializedAsync() => responces = await MiniBotApi.GetResponceAsync();
}
